<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/assets/javascripts/reactValue.js"></script>
  <script src="/assets/javascripts/helpers.js"></script>
  <script src="/assets/javascripts/api.js"></script>
  <script src="/assets/javascripts/app.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" media="all">
  <link rel="stylesheet" href="/css/style.css">

  <title>Quanto vale meu carro</title>
</head>
<body>
  <%= yield %>
</body>
</html>