<header>
  <h1 id="app_title"></h1>
</header>
<main id="container"></main>

<template id="chosen_car_template">
  <section id="car_info">
    <div id="car_name"></div>
    <div id="car_fuel"></div>
    <div id="car_year"></div>
    <div id="car_price"></div>

    <time id="car_reference"></time>
  </section>
</template>

<template id="brand_template">
  <form action="" id="brand_form">
    <fieldset>
      <legend>Selecione a marca do seu carro</legend>
      <select id="brand_selector"></select>
    </fieldset>
    <button type="submit">ok</button>
  </form>
</template>

<template id="model_template">
  <form action="" id="model_form">
    <fieldset>
      <legend>Selecione o modelo do seu carro</legend>
      <select id="model_selector"></select>
    </fieldset>
    <button type="submit">ok</button>
  </form>
</template>

<template id="year_template">
  <form action="" id="year_form">
    <fieldset>
      <legend>Selecione o ano do seu carro</legend>
      <select id="year_selector"></select>
    </fieldset>
    <button type="submit">ok</button>
  </form>
</template>