<main></main>

<template id="price_template">
  <h1>Quanto vale meu carro</h1>
  <div id="price"></div>
</template>

<template id="brand_template">
  <h1>Quanto vale meu carro</h1>

  <form action="" id="brand_form">
    <fieldset>
      <legend>Selecione a marca do seu carro</legend>
      <select id="brand_selector"></select>
    </fieldset>
    <button type="submit">ok</button>
  </form>
</template>

<template id="model_template">
  <h1>Selecione o modelo do seu carro</h1>

  <form action="" id="model_form">
    <fieldset>
      <legend>Selecione o modelo do seu carro</legend>
      <select id="model_selector"></select>
    </fieldset>
    <button type="submit">ok</button>
  </form>
</template>

<template id="year_template">
  <h1>Selecione o ano do seu carro</h1>

  <form action="" id="year_form">
    <fieldset>
      <legend>Selecione o ano do seu carro</legend>
      <select id="year_selector"></select>
    </fieldset>
    <button type="submit">ok</button>
  </form>
</template>