<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <script src="/assets/javascripts/helpers.js"></script>
  <script src="/assets/javascripts/api.js"></script>
  <script src="/assets/javascripts/app.js"></script>

  <title>Quanto vale meu carro</title>
</head>
<body>
  <%= yield %>
</body>
</html>